* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/*
COLORS
background gray - #dedede
background navy - #2e3037
teal - #39c0ba

FONTS
Raleway
Roboto Mono
*/

body {
    background-color: #2e3037;
    color: white;
    height: 2000px;
}

.svg-container {
    width:  1000px;
    height: 450px;
    position: fixed;
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
    background-color: white;
    z-index: 1;
}

.mask {
    background-color: #2e3037;
    width: calc(1000px - 450px);
    position: absolute;
    z-index: 2;
    padding-bottom: 50px;
}

.mask#basic {
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
}

.mask#fgk {
    right: calc((100% - 1000px) / 2);
}

.mask h1, .mask h2, .mask h3 {
    padding: 0 45px;
    margin-bottom: 15px;
    color: #39c0ba;
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
}

.mask p {
    padding: 0 45px;
    text-align: justify;
}

.section {
    opacity: 0.4;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin: 150px 0;
}

.section.graph-scroll-active {
    opacity: 1;
}

.header {
    margin: auto;
    margin-top: 167.5px;
    margin-bottom: 100px;
    text-align: center;
}

.header p {
    text-align: center;
}

.mask#fgk > .section:nth-of-type(1) {
    margin-top: 190px;
}

/* D3 styling */
.tooltip {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% + 100px);
    text-align: left;
    color: black;
    width: 50px;
    font: 12px "Roboto Mono";
}

.tooltip.shifted {
    left: calc(50% - 500px);
}

.node {
    cursor: default;
    fill: #2e3037;
    stroke: black;
}

.node-text {
    cursor: default;
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
    fill: #39C0BA;
    text-anchor: middle;
}