* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/*
COLORS
background gray - #dedede
background navy - #2e3037
teal - #39c0ba

FONTS
Raleway
Roboto Mono
*/

body {
    background-color: #2e3037;
    color: white;
    height: calc(15650px + 100vh);
}

a {
    color: #39c0ba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.link {
    color: #39c0ba;
    text-decoration: none;
    cursor: pointer;
}

span.link:hover {
    text-decoration: underline;
}

table {
    width: 65%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid white;
}

table td, table th {
    border: 1px solid white;
    text-align: center;
    padding: 2px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

table th {
    color: #39c0ba;
}

.svg-container {
    width:  1000px;
    height: 450px;
    position: fixed;
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
    background-color: white;
    z-index: 1;
}

.mask {
    background-color: #2e3037;
    width: calc(1000px - 450px);
    position: absolute;
    z-index: 2;
    margin-bottom: 25px;
}

.mask#basic {
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
    padding-bottom: 200px;
}

.mask#fgk {
    top: calc(5785px);
    right: calc((100% - 1000px) / 2);
    padding-top: 190px;
}

.mask#end {
    width: 100%;
    height: 200px;
    top: calc(15492px);
}

.mask h1, .mask h2, .mask h3 {
    margin-bottom: 15px;
    color: #39c0ba;
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
}

.fixed-content {
    margin-left: 5px;
    width: 535px;
    position: fixed;
    top: 0;
    z-index: 20;
    opacity: 0;
    padding-top: calc((100vh - 450px) / 2);
    background-color: rgba(46, 48, 55, 0.9);
    -moz-box-shadow:    0 25px 25px rgba(46, 48, 55, 0.9);
    -webkit-box-shadow: 0 25px 25px rgba(46, 48, 55, 0.9);
    box-shadow:         0 25px 25px rgba(46, 48, 55, 0.9);
    display: none;
}

#freq-table table {
    width: 65%;
}

#freq-table .highlight {
    background-color: #535765;
}

#fgk-input p {
    text-align: center;
    font-size: 25px;
    font-family: "Roboto Mono", sans-serif;
}

#fgk-input #unseen {
    color: rgba(255, 255, 255, 0.2);
    font-size: inherit;
    font-family: inherit;
}

.section {
    padding: 0 45px;
    opacity: 0.2;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    margin: 150px 0;
}

.section.graph-scroll-active {
    opacity: 1;
}

.section p {
    text-align: justify;
}

.section p:nth-of-type(n + 1) {
    margin-top: 20px;
}

.section ol, ul {
    padding-top: 0.5em;
    padding-left: 1em;
}

.section li {
    margin-bottom: 5px;
}

.header {
    margin: auto;
    margin-top: 167.5px;
    margin-bottom: 100px;
    text-align: center;
}

.header p {
    text-align: center;
}

.mask#fgk > .section:nth-of-type(1) {
    /*margin-top: 190px;*/
}

#screen-warning .jBox-container {
    width: 300px;
    height: 54px;
    position: fixed;
    top: calc((100vh - 54px) / 2);
    left: calc((100vw - 300px) / 2);
    border-radius: 5px;
    background-color: #e65050;
    text-align: center;
}

.word-select {
    width: 400px;
    position: fixed;
    top: calc((((100vh - 450px) / 2) - 29px) / 2);
    left: calc((100vw - 400px) / 2);
    font-size: 20px;
    z-index: 100;
    display: none;
}

.word-select select {
    width: 250px;
    margin-left: 10px;
    font-size: 20px;
}

.word-select #fgk-label, .word-select #huffman-label {
    width: 450px;
    text-align: center;
    position: fixed;
    bottom: calc(((100vh - 450px) / 4));
}

.word-select #fgk-label {
    left: calc((100vw - 50%) - 515px);
}

.word-select #huffman-label {
    right: calc((100vw - 50%) - 515px);
}

/* D3 styling */
.tooltip {
    position: fixed;
    top: calc(50% - 220px);
    left: calc(50% + 58px);
    text-align: left;
    color: black;
    width: 100px;
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
    z-index: 1;
}

.tooltip.middle {
    left: calc(50% - 50px);
    text-align: center;
}

.node {
    cursor: default;
    fill: #2e3037;
    stroke: black;
    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.node.highlight {
    fill: #4d66bb;
}

.node-text {
    cursor: default;
    font-family: "Roboto Mono", sans-serif;
    font-size: 11px;
    fill: #39C0BA;
    text-anchor: middle;
}