* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/*
COLORS
background gray - #dedede
background navy - #2e3037
teal - #39c0ba

FONTS
Raleway
Roboto Mono
*/

body {
    background-color: #2e3037;
    color: white;
    height: 2000px;
}

.svg-container {
    width:  1000px;
    height: 450px;
    position: fixed;
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
    background-color: white;
    z-index: 1;
}

.mask {
    background-color: #2e3037;
    width: calc(1000px - 450px);
    position: absolute;
    z-index: 2;
}

.mask#basic {
    top: calc((100% - 450px) / 2);
    left: calc((100% - 1000px) / 2);
}

.mask#fgk {
    top: calc((100% - 450px) / 2 + 500px);
    right: calc((100% - 1000px) / 2);
}

.mask h1, .mask h2, .mask h3 {
    padding: 0 45px 100px 45px;
    color: #39c0ba;
    font-family: "Roboto Mono", sans-serif;
    text-align: center;
}

.mask p {
    padding: 50px 45px 50px 45px;
    text-align: justify;
    opacity: 0.4;
}

.header {
    margin: auto;
    margin-top: 167.5px;
    margin-bottom: 100px;
    text-align: center;
}

.header h1, .header h2, .header h3 {
    padding-bottom: 0;
}

.header p {
    opacity: 1;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

/* D3 styling */
.tooltip {
    position: absolute;
    top: 0;
    text-align: left;
    width: 50px;
    font: 12px "Roboto Mono";
}

.node {
    cursor: default;
    fill: #2e3037;
    stroke: black;
}

.node-text {
    cursor: default;
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
    fill: #39C0BA;
    text-anchor: middle;
}